<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246827146790-17o479gi6ptmol3rtllu6nhll9t46rao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246827146790-17o479gi6ptmol3rtllu6nhll9t46rao</string>
	<key>API_KEY</key>
	<string>AIzaSyCDzhWJgEs91FXU5nW7oAivQyPve8k1uPw</string>
	<key>GCM_SENDER_ID</key>
	<string>246827146790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>easytrack.PlatziTweets</string>
	<key>PROJECT_ID</key>
	<string>platzitweets-3159c</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitweets-3159c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246827146790:ios:4766d08b3659ad2de910e7</string>
</dict>
</plist>